
.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login_container > form {
    display: flex;
    flex-direction: column;
    gap : 10px;
 
 }
 
 .login_container > form > button {
     margin-top: 15px;
     padding: 15px;
     border-radius: 10px;
     background-color: #2f74c0;
     color: white;
     font-weight: 500;
     font-size: 18px;
 }